:root {
  --branding-color: linear-gradient(
    76.5deg,
    rgb(129, 252, 255) 0.4%,
    rgb(255, 175, 207) 49.8%,
    rgb(255, 208, 153) 98.6%
  );
  --secondary-color: #1fd7dd;
  --heading-font-family: "Josefin Sans", sans-serif;
  --default-font-family: "Source Code Pro", monospace;
}
h1 {
  font-family: var(--heading-font-family);
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
}
.btn-branding {
  background: var(--secondary-color);
  border-color: black 1px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border-radius: 4px;
  font-family: var(--heading-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 20px;
    text-align: center;
  }
  h1 {
    font-family: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
    line-height: 1;
  }
  .hero {
    padding: 80px 20px;
  }
}
