body {
  background: linear-gradient(
    76.5deg,
    rgb(129, 252, 255) 0.4%,
    rgb(255, 175, 207) 49.8%,
    rgb(255, 208, 153) 98.6%
  );
}
h1 {
  font-family: "Josefin Sans", sans-serif;
}
p, div {
  font-family: "Source Code Pro", monospace;
}
